<main>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/bk.jpeg" alt="" class="img-fluid">
                    <div class="card-title">Product Manager</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eligendi sunt delectus laborum
                        modi,
                        explicabo quidem sint? Ex, libero asperiores? Repellat </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/bk.jpeg" alt="" class="img-fluid">
                    <div class="card-title">Product Manager</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eligendi sunt delectus laborum
                        modi,
                        explicabo quidem sint? Ex, libero asperiores? Repellat </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/bk.jpeg" alt="" class="img-fluid">
                    <div class="card-title">Product Manager</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eligendi sunt delectus laborum
                        modi,
                        explicabo quidem sint? Ex, libero asperiores? Repellat </p>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Ju,botron Box -->
<div class="jumbotron card card-image" style="background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Others/gradient1.jpg);">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Create your beautiful website with MDBootstrap</strong></h2>
        <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
          optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!
        </p>
        <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> View project</a>
      </div>
    </div>
  </div>
  <!-- Ju,botron Box -->